body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/IMG_0688.JPG');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('images/IMG_0688.JPG');
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/IMG_0688.JPG');  
}

.mdl-layout.has-drawer .mdl-layout__header-row{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

/*.mdl-layout .mdl-layout__drawer-button{
  color: rgba(197, 197, 197, 0.44);

}
.mdl-layout__drawer {
    background: red;  
    color: green; 
} */

.mdl-layout-title, .mdl-button.header_home, .mdl-button.header_home:hover {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  text-transform: capitalize;
}


.mdl-layout__header .mdl-navigation__link{
  color: white;
  font-family: 'Montserrat', sans-serif;
}


.name{
  position: relative;
  height: 1500px;
  width: auto;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 100px;
  padding-top: 200px;
  
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 30px;
}

.mdl-button{
  background-color: rgba(207, 216, 220, 0.9);
}

.mdl-button:hover{
  background-color: #90CAF9;
}
.mdl-button--primary.mdl-button--primary {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: capitalize;
}


/*** about ***/
.mdl-card__title{

  font-family: 'Montserrat', sans-serif;
}

.max-width {
  max-width: 900px;
  padding-top: 75px;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 50px 0 0;
}

.backgr-cell{
  background-color: rgba(207, 216, 220, 0.9);

}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
}

.mdl-cell{
  width: auto;
}

.mdl-chip{
  background-color: #90CAF9;
  font-family: 'Montserrat', sans-serif;

}

$linkedin: #0e76a8;

$md-colour-list: (
linkedin $linkedin
);

@each $colour-name, $md-colour in $md-colour-list {
  .mdl-button.mdl-button--#{$colour-name} {
      color: rgb(63, 81, 181)
  }
  .mdl-button.mdl-button--#{$colour-name}:focus:not(:active) {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name} {
      background: $md-colour;
      color: rgb(255, 255, 255)
  }
  .mdl-button--raised.mdl-button--#{$colour-name}:hover {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name}:active {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name}:focus:not(:active) {
      background-color: $md-colour
  }
  .mdl-button--raised.mdl-button--#{$colour-name} .mdl-ripple {
      background: rgb(255, 255, 255)
  }
  .mdl-button--fab.mdl-button--#{$colour-name} {
      background: $md-colour;
      color: rgb(255, 255, 255)
  }
  .mdl-button--fab.mdl-button--#{$colour-name}:hover {
      background-color: $md-colour
  }
  .mdl-button--fab.mdl-button--#{$colour-name}:focus:not(:active) {
      background-color: $md-colour
  }
  .mdl-button--fab.mdl-button--#{$colour-name}:active {
      background-color: $md-colour
  }
  .mdl-button--fab.mdl-button--#{$colour-name} .mdl-ripple {
      background: rgb(255, 255, 255)
  }
}


